
/* ---------------
  RESET
-----------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------
  BODY
---------------*/
body {
  font-family: 'Arial', sans-serif;   
  background-color: #181818;     
  color: white;                   
  margin: 0;                        
  padding: 0;                       
  line-height: 1.6;                 
  display: flex;                    
  flex-direction: column;         
  min-height: 100vh;  
}        



/* -----------------
  GENERAL
--------------------*/
.container{
  max-width:30rem;
  margin: auto;
  padding: 1.25rem ;
}

/* --------------
  BUTTON
----------------*/
.search-container{
  margin: 5px;
  float: right;
  position: relative;
  bottom: 53px;
}


button{
  width: 60px;
  padding: 2px;
  margin: 5px;
  float: right;
  position: relative;
  bottom:1px;
  background-color: #cc0008;
  color: #ffffff;
  border: 1px;

}

button:hover{
  background-color: #ffffff;
  color: #000000;
  transition: color 0.3s ease;
}


/* -------------
  IMAGE
--------------- */
.boolflix{
  background-image: url(../img/fontbolt.png);
  background-size: cover;
  width: 290px;
  height: 80px;
  position: relative;
  top: 10px;
  left: 10px;
}


img{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.flag{

  width: 50px;
  height: 50px
}

.poster{

  width: 180px;
  height: 250px;
  gap: 10px;
}

.ora{
  background-image: url(../img/abbonati.webp);
  background-size:cover;
  float: right;
  width: 550px;
  height: 350px;
  margin-top: 20px;
  margin-left: 60px;
}
/* ------------
  HEADER
---------------*/
header{
  background-color: #000000; 
  width: 100%; 
  height: 100px; 
  color: #ffffff; 
}

h1{
  margin: 10px;
  color: #cc0008;
  font-size: 55px;
}

h2{
  font-size: 40px;
  margin-top: 10px;
  margin-left: 113px;
}

p{
  width:400px;
  margin-left:113px;
  margin-bottom: 70px;
  font-size: 20px;
}

.list ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  top: 10px;

}

nav a {
  text-decoration: none; 
  color: white; 
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease; 
  position: relative;
  bottom: 56px;
  left: 100px;
}

a:hover {
  color: #cc0008;
}


/* -------------
  MAIN
---------------*/

.list-second{

  margin: 100px;
  margin-top: 100px;
}


.list-second ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.titolo ul{

  display: flex;
  flex-direction:column;
  font-size: 15px;
  width: 150px;
  height: 30px;
  position: relative;
  left: 10px;
  
}


i img{
  height: 10px;
  width: 10px;
  color: #ffffff;
}

.star{
  display: flex;
  flex-direction: row;
}

/* list-third */

.list-third{

  margin: 100px;

}


.list-third ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.list-third .titolo ul{

  display: block;
  flex-direction:column;
  font-size: 15px;
  
}

h3{
  margin: 10px;
  font-size: 35px;
}

.titolo-third{

  display: flex;
  flex-direction:column;
  font-size: 15px;
  width: 150px;
  height: 40px;
  position: relative;
  left: 10px;
  
}